@font-face {
  font-family: Autographicfont;
  src: url('./font/Autography-DOLnW.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.navbar {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  padding-top: 2.25rem;
  padding-left: 12.5%;
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-logo {
  font-family: 'Autographicfont';
  color: #666666;
  margin-right: 85px;
  user-select: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.nav-links {
  overflow: visible;
}
.nav-links a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #666666;
  margin: 0 22.5px;
  padding-bottom: 2.5px;
  letter-spacing: 0.25px;
  position: relative;
  width: fit-content;
  color: #154894;
}
.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: #6687b8;
  transition: 0.3s ease-in-out;
}
.nav-links a:hover::after {
  width: 100%;
}
.none {
  display: none !important;
}
.hamburger {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  height: 15.5px;
  width: 25px;
  position: absolute;
  top: 2.8rem;
  right: 35px;
  cursor: pointer;
  display: none;
  z-index: 2;
}
.hamburger div {
  width: 100%;
  height: 1.5px;
  background: #9090ff;
}
.mobile-nav {
  display: none;
}
@media screen and (max-width: 600px) {
  .navbar {
    padding-top: 1.65rem;
    padding-left: 35px;
    overflow: visible;
  }
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
  }
  .mobile-nav a {
    text-decoration: none;
    color: #666666;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22.5px;
    margin-bottom: 40px;
  }
  .mobile-nav.show {
    opacity: 1;
    visibility: visible;
  }
  .hamburger.open {
    overflow: hidden;
  }
  .hamburger.open div {
    transition: 0.3s ease-in-out;
  }
  .hamburger.open div:nth-child(1) {
    transform: rotate(39deg) translateX(6px) translateY(5px);
  }
  .hamburger.open div:nth-child(2) {
    background: transparent;
  }
  .hamburger.open div:nth-child(3) {
    transform: rotate(-220deg) translateX(-5px) translateY(4.5px);
  }
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
}
.home .circle-pattern {
  position: absolute;
  top: 25%;
  left: 7.5%;
  width: 285px;
  height: 159px;
  object-fit: cover;
  opacity: 0.3;
}
.home .circle {
  position: absolute;
  width: 94px;
  height: 99px;
}
.home .triangle-pattern {
  right: 0;
  position: absolute;
  width: 50%;
  height: 100%;
  opacity: 0.08;
  object-fit: cover;
}
.home-content {
  position: absolute;
  top: 50%;
  left: 12.5%;
  transform: translateY(-50%);
}
.home-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #666666;
  font-size: 51px;
  margin-bottom: 17.5px;
  position: relative;
}
.home-content h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 3px;
  background: #5f5fff;
}
.home-content p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  width: 36rem;
  margin-bottom: 17.5px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  font-weight: 400;
}
.home-content p a {
  text-decoration: none;
  color: #1dbade;
  padding: 0 5px;
  font-weight: 500;
}
.home-content button {
  background: #dacaff;
  border-radius: 4px;
  padding: 1px;
  font-family: 'Roboto', sans-serif;
  background: #dacaff;
  color: #f1edfc;
  padding: 8.5px 13.5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.tech {
  margin-bottom: 17.5px;
  display: flex;
  justify-content: space-around;
  width: 225px;
  padding: 5px 0;
}
.tech-img {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  object-fit: cover;
  transition: 0.3s ease;
  cursor: pointer;
}
.tech-img:hover {
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .home .triangle-pattern {
    display: none;
  }
  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
    padding: 0 2rem;
  }
  .home-content h1 {
    text-align: center;
  }
  .home-content p {
    position: relative;
    text-align: center;
    width: fit-content;
  }
  .home .circle-pattern {
    top: 19%;
    left: 5%;
  }
}
@media screen and (max-width: 500px) {
  .home-content h1 {
    font-size: 35px;
  }
  .home-content h1::after {
    display: none;
  }
}
.contact {
  height: 100vh;
  width: 100%;
  position: relative;
}
.contact .circle-pattern {
  position: absolute;
  top: 20%;
  right: 7.5%;
  width: 131px;
  height: 91px;
  object-fit: cover;
  opacity: 0.3;
}
.contact .circle-pattern-2 {
  position: absolute;
  bottom: 15%;
  right: 15%;
  width: 88px;
  height: 69px;
  object-fit: cover;
  opacity: 0.3;
}
.contact .triangle-pattern {
  position: absolute;
  top: 20%;
  left: 7.5%;
  width: 180px;
  height: 215px;
  object-fit: cover;
  opacity: 0.05;
}
.contact-content {
  position: absolute;
  top: 52%;
  left: 12.5%;
  transform: translateY(-50%);
}
.contact-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #666666;
  font-size: 35px;
  margin-bottom: 36px;
}
.contact-input {
  background: rgba(247, 247, 247, 0.83);
  border-radius: 2px;
  margin-bottom: 18px;
  position: relative;
  width: 400px;
  height: 55px;
  overflow: hidden;
}
.contact-input.message {
  width: 650px;
  height: 200px;
}
.contact-input svg {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  fill: #828282;
}
.contact-input.message svg {
  top: 20%;
  left: 3.5%;
}
.contact-input textarea {
  width: 100%;
  height: 105%;
  border: none;
  background: transparent;
  outline: none;
  padding: 30px 25px;
  font-family: 'Roboto', sans-serif;
}
.contact-content textarea::placeholder {
  position: absolute;
  top: 18.5%;
  left: 8%;
  transform: translateY(-50%);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
.contact-input input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #828282;
  padding: 0 20px;
  font-family: 'Roboto', sans-serif;
}
.contact-input input::placeholder {
  color: #828282;
  position: absolute;
  left: 12.5%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px;
}
.contact-input.message input::placeholder {
  left: 8.5%;
  top: 20%;
}
.contact-content button {
  background: #87c4df;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  padding: 15px 22.5px;
  border-radius: 3px;
  cursor: pointer;
}
@media screen and (max-width: 850px) {
  .contact-content {
    left: 0%;
    padding: 0 3.5rem;
    position: relative;
  }
  .contact-input {
    width: 100%;
  }
  .contact-input.message {
    width: 100%;
  }
  .contact-input svg {
    left: 15px;
  }
  .contact-input.message svg {
    left: 15px;
  }
  .contact-input input::placeholder {
    left: 45px;
  }
  .contact-input textarea::placeholder {
    left: 45px;
  }
}
@media screen and (max-width: 640px) {
  .contact-content {
    padding: 0 2rem;
  }
  .contact-content h1 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}
.projects {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.projects .circle-pattern {
  position: absolute;
  right: 14%;
  bottom: 24%;
  width: 276px;
  height: 185px;
  object-fit: cover;
  opacity: 0.2;
}
.projects .triangle-pattern {
  position: absolute;
  top: 25%;
  left: 13.5%;
  opacity: 0.05;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.project-content {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-content h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  text-align: center;
  margin-bottom: 100px;
  border-bottom: 3px solid #5f5fff;
  width: fit-content;
}
.project-cards {
  display: flex;
  justify-content: space-between;
}
.project-card {
  text-decoration: none;
  width: 205px;
  height: 210px;
  background: #f8f8f8;
  border-radius: 4px;
  margin-right: 120px;
  position: relative;
}
.last-project-card {
  margin-right: 0;
}
.project-card-image {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.amazon-clone-logo {
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.youtube-bot-logo {
  object-fit: cover;
  width: 60px;
  height: 60px;
}
.google-docs-logo {
  object-fit: cover;
  width: 45px;
  height: 45px;
}
.project-card label {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 1000px) {
  .projects {
    width: 100%;
    overflow: initial;
  }
  .projects .triangle-pattern {
    width: 150px;
    height: 150px;
    left: 5%;
    top: 15%;
    opacity: 0.1;
  }
  .project-content {
    top: 16%;
  }
  .project-content h1 {
    font-size: 30px;
    margin-bottom: 50px;
  }
  .project-cards {
    width: 100%;
    flex-direction: column;
  }
  .project-card {
    margin-right: 0;
    margin-bottom: 60px;
    width: 242.5px;
    height: 225px;
  }
}
